* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 900;
    color: white;
}
/*Убираем ненужное*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

textarea {
    resize: none; /*Прибирає оформлення в правому нижньому куті*/
}

/*AnchorHome*/
#anchorFirst {
    background: linear-gradient(to right, #09052f, #311d5e), url("../images/background_header.jpg");
    background-blend-mode: hard-light; /*Управляет режимами наложения слоев фона*/
    background-size: cover; /*Размещает картинку на весь блок*/
    padding-top: 34px;
    padding-bottom: 70px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 180px;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 280px;
}

.header__items > li {
    padding-right: 20px;
}

.header__items > li > a {
    color: white;
    transition: all 0.3s ease;
}

.header__items li.header__item_active a,
.header__items li a:hover {
    color: #00e0d0;
}
/*Slider*/
.slider__content {
    text-align: center;
}

.slider__content_heading {
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 32px;
    text-transform: capitalize;
}

hr {
    margin: 22px auto 26px auto;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    border: none;
}

.slider__content_paragraph {
    width: 51%;
    margin: 0 24.5%;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
}

.button {
    margin-top: 50px;
    margin-bottom: 122px;
    padding: 10px 12px;
    border: 1px solid #00e0d0;
    background: none;
    border-radius: 1px;
    color: #00e0d0;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Hammersmith One", sans-serif;
}

.button a {
    color: #00e0d0;
}
/*Slider__item*/
.slider__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item {
    width: 10px;
    height: 10px;
    border: 1px solid #bab9bc;
    border-radius: 50%;
    margin-right: 4px;
}

/*Slider__item*/
.slider__items li.slider__item_active,
.slider__items li:hover {
    border: 1px solid #00e0d0;
    background: #00e0d0;
}

/*Section anchorAbout*/
#anchorSecond {
    width: 60%;
    margin: 68px 20%;
    font-weight: 100;
    font-size: 14px;
    color: #9e9da2;
}

.innerFirstBlock__logo {
    width: 240px;
    float: left;
}

.innerFirstBlock__content {
    margin-left: 240px;
    padding-left: 90px;
}

.innerFirstBlock__heading {
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #413d4b;
}

.innerFirstBlock__content p {
    padding-top: 29px;
    line-height: 22px;
}

.innerFirstBlock__button {
    text-align: center;
    clear: both;
}

.innerFirstBlock__button-link {
    margin-top: 30px;
    margin-bottom: 0;
}

/*Video*/
.innerVideo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background: linear-gradient(to right, #09052f, #311d5e), url("../images/background_about.jpg");
    background-blend-mode: hard-light; /*Управляет режимами наложения слоев фона*/
    background-size: cover; /*Размещает картинку на весь блок*/
}

.innerVideo__container {
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: center;
    opacity: 0.85;
}

.innerVideo__container-heading {
    font-size: 16px;
    margin-top: 30px;
    text-transform: uppercase;
}

.innerVideo__container:hover {
    opacity: 0;
}


/*anchorPeopleSay*/
.innerFifthBlock__container {
    width: 60%;
    margin: 68px auto;
}

.innerFifthBlock__form {
    float: left;
    width: 44%;
    margin-right: 12%;
}

.innerFifthBlock__form p textarea,
.innerFifthBlock__form p input {
    width: 100%;
    font-weight: 100;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 20px;
}

.innerFifthBlock__form p textarea {
    height: 200px;
}

.innerFifthBlock__form-button  {
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 0;
}

.innerFifthBlock__form-heading, .innerFifthBlock__aside-heading {
    margin-bottom: 35px;
}


.innerFifthBlock__aside {
    float: right;
    width: 44%;
}

.innerFifthBlock__aside-heading {
    padding: 0 0 0 30px;
}


.innerFifthBlock__aside div ul li {
    padding: 25px 0;
}

.innerFifthBlock__items-first {
    float: left;
    width: 220px;
    text-align: center;
    /*border: 1px solid #00e0d0;*/
}

.innerFifthBlock__items-second {
    margin-left: 220px;
    text-align: center;
/*border: 1px solid #00e0d0;*/
}

/*Attempt*/


/*media 950px*/
@media all and (max-width: 950px) {
    /*media header*/
    .header__items {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        text-transform: uppercase;
        margin-left: 8vw;
    }

    .header__nav {
        margin-bottom: 18vw;
    }

    .header__items > li {
        padding-right: 10px;
    }

    .button {
        margin-top: 5vw;
        margin-bottom: 12vw;
    }

    .header__logo {
        margin-left: 2vw;
    }

    #anchorSecond {
        width: 64%;
        margin: 40px 18%;
        font-weight: 100;
        font-size: 14px;
        color: #9e9da2;
    }

    .innerFirstBlock__logo {
        width: 240px;
        float: left;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .innerFirstBlock__content {
        padding-left: 20px;
    }

    .innerFirstBlock__button-link {
        margin-top: 30px;
        margin-bottom: 0;
    }

    /*anchorPeopleSay*/
    .innerFifthBlock__container {
        width: 90%;
        margin: 40px auto;
    }

    .innerFifthBlock__form {
        float: left;
        width: 40%;
        margin-right: 4%;
    }

    .innerFifthBlock__aside {
        float: right;
        width: 56%;
    }

    .innerFifthBlock__form-button  {
        padding-right: 30px;
        padding-left: 30px;
        margin-top: 0;
    }
}

@media all and (max-width: 670px) {
    #anchorSecond {
        width: 90%;
        margin: 40px auto;
        font-weight: 100;
        font-size: 14px;
        color: #9e9da2;
    }

    .innerFirstBlock__content {
        margin-left: 0;
        padding-left: 20px;
    }

    .header__logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .header__items {
        position: absolute;
        top: 25px;
        right: 10px;
        display: list-item;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
    }

    .header__items > li > a {
        display: block;
        border-bottom: 1px solid #00e0d0;
        padding: 10px;
        color: white;
        transition: all 0.3s ease;
    }

    .header__item_active a {
        border-top: 1px solid #00e0d0;
    }

    .header__items > li > a {
        display: none;
    }

    /*content before*/
    .header__items::before {
        content: "menu";
        display: block;
        position: absolute;
        text-align: center;
        font-size: 13px;
        padding: 10px;
        text-transform: uppercase;
        border-top: 1px solid #00e0d0;
        border-bottom: 1px solid #00e0d0;
        color: #00e0d0;
        transition: all 0.3s ease;
    }

    .header__items li.header__item_active a {
        display: block;
        color: #00e0d0;
        opacity: 0;
    }

    .header__items:hover > li > a {
        display: block;
        background-color: #311d5e;
    }

    .header__items:hover.header__items::before{
        display: none;
    }

    .header__items:hover.header__items li.header__item_active a {
        opacity: 1;
    }

    .header__items li a:hover {
        color: #00e0d0;
    }

    /*anchorPeopleSay*/

    .innerFifthBlock__items-second {
        margin-left: 0;
        text-align: center;
    }

    .innerFifthBlock__form {
        float: left;
        width: 200px;
        /*border: 1px solid black;*/
    }

    .innerFifthBlock__aside {
        float: none;
        margin-left: 220px;
        /*border: 1px solid black;*/
    }

    .innerFifthBlock__items-first {
        float: none;
        text-align: center;
        width: 100%;
    }

    .innerFifthBlock__aside-heading {
        text-align: center;
        padding: 0 20px 0 0;
    }

    .innerFifthBlock__form p textarea,
    .innerFifthBlock__form p input {
        width: 90%;
    }
}

@media all and (max-width: 435px) {
    .innerFirstBlock__logo {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .innerFirstBlock__logo-img {
        width: 90%;
    }

    /*anchorPeopleSay*/

    .innerFifthBlock__container {
        width: 100%;
        margin: 40px auto;
    }

    .innerFifthBlock__items-second {
        margin: 0;
        text-align: center;
    }

    .innerFifthBlock__form {
        float: none;
        width: 80%;
        margin: 0 auto;
    }

    .innerFifthBlock__aside {
        float: none;
        width: 80%;
        margin: 0 auto;
    }

    .innerFifthBlock__items-first {
        float: none;
        text-align: center;
    }

    .innerFifthBlock__aside-heading {
        text-align: inherit;
    }

    .innerFifthBlock__aside-heading {
        margin-bottom: 0;
        text-align: center;
        padding: 0;
    }
}