* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Arial, sans-serif;
    font-weight: 900;
    color: white;
}
/*Убираем ненужное*/
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/*AnchorHome*/
#anchorHome {
    background: linear-gradient(to right, #09052f, #311d5e), url("../images/background_header.jpg");
    background-blend-mode: hard-light; /*Управляет режимами наложения слоев фона*/
    background-size: cover; /*Размещает картинку на весь блок*/
    padding-top: 34px;
    padding-bottom: 70px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 180px;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    text-transform: uppercase;
    margin-left: 280px;
}

.header__items > li {
    padding-right: 20px;
}

.header__items > li > a {
    color: white;
    transition: all 0.3s ease;
}

.header__items li.header__item_active a,
.header__items li a:hover {
    color: #00e0d0;
}
/*Slider*/
.slider__content {
    text-align: center;
}

.slider__content_heading {
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 32px;
    text-transform: capitalize;
}

hr {
    margin: 22px auto 26px auto;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    border: none;
}

.slider__content_paragraph {
    width: 51%;
    margin: 0 24.5%;
    font-weight: 100;
    font-size: 14px;
    line-height: 24px;
}

.button {
    margin-top: 50px;
    margin-bottom: 122px;
    padding: 10px 12px;
    border: 1px solid #00e0d0;
    background: none;
    border-radius: 1px;
    color: #00e0d0;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Hammersmith One", sans-serif;
}

.button a {
    color: #00e0d0;
}
/*Slider__item*/
.slider__items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__item {
    width: 10px;
    height: 10px;
    border: 1px solid #bab9bc;
    border-radius: 50%;
    margin-right: 4px;
}

/*Slider__item*/
.slider__items li.slider__item_active,
.slider__items li:hover {
    border: 1px solid #00e0d0;
    background: #00e0d0;
}

/*Section anchorAbout*/
#anchorAbout {
    width: 60%;
    margin: 68px 20%;
    font-weight: 100;
    font-size: 14px;
    color: #9e9da2;
}

.innerFirstBlock__logo {
    width: 240px;
    float: left;
}

.innerFirstBlock__content {
    margin-left: 240px;
    padding-left: 90px;
}

.innerFirstBlock__heading {
    font-family: "Playfair Display", Arial, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: #413d4b;
}

.innerFirstBlock__content p {
    padding-top: 29px;
    line-height: 22px;
}

.innerFirstBlock__button {
    text-align: center;
    clear: both;
}

/*Attempt*/


/*media header*/
@media all and (max-width: 950px) {
    .header__items {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        text-transform: uppercase;
        margin-left: 8vw;
    }

    .header__nav {
        margin-bottom: 18vw;
    }

    .header__items > li {
        padding-right: 10px;
    }

    .button {
        margin-top: 5vw;
        margin-bottom: 12vw;
    }

    .header__logo {
        margin-left: 2vw;
    }

    #anchorAbout {
        width: 64%;
        margin: 40px 18%;
        font-weight: 100;
        font-size: 14px;
        color: #9e9da2;
    }

    .innerFirstBlock__logo {
        width: 240px;
        float: left;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .innerFirstBlock__content {
        padding-left: 20px;
    }

}

@media all and (max-width: 625px) {
    #anchorAbout {
        width: 90%;
        margin: 40px auto;
        font-weight: 100;
        font-size: 14px;
        color: #9e9da2;
    }

    .innerFirstBlock__content {
        margin-left: 0;
        padding-left: 20px;
    }

    .header__logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .header__items {
        position: absolute;
        top: 25px;
        right: 10px;
        display: list-item;
        text-align: center;
        font-size: 13px;
        text-transform: uppercase;
    }

    .header__items > li > a {
        display: block;
        border-top: 1px solid #00e0d0;
        border-bottom: 1px solid #00e0d0;
        padding: 10px;
        color: white;
        transition: all 0.3s ease;
    }

    .header__items > li > a {
        display: none;
    }

    /*content before*/
    /*.header__items::before {
        content: "menu";
        display: block;
        position: relative;
        text-align: center;
        font-size: 13px;
        padding: 10px;
        text-transform: uppercase;
        border: 1px solid #00e0d0;
        color: #00e0d0;
    }*/

    .header__items:hover > li > a {
        display: block;
        background-color: #311d5e;
        color: white;
    }

    .header__items li.header__item_active a {
        display:block;
        color: #00e0d0;
    }

    .header__items li a:hover {
        color: #00e0d0;
    }
}

@media all and (max-width: 425px) {
    .innerFirstBlock__logo {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
}